@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Shared Style */

.font-size-group {
  font-size: 1rem;
  line-height: 26px;
}

.display-flex {
  display: flex;
}

/* Dark 02 */
.text-gray {
  color: #424242;
}

/* Dark 03 */

.text-light-gray,
.banner-description,
.feature-description {
  color: #727272;
}

.bg-light {
  background-color: rgba(255, 144, 14, 0.1);
}

.btn-group {
  background-color: #ff900e;
  color: white;
  border-radius: 8px;
  padding: 20px 25px;
  font-size: 1.25rem;
  font-weight: 600;
  border: none;
}

main {
  max-width: 1440px;
  margin: 0 auto;
}

.head-font-size {
  font-size: 2.8rem;
  font-weight: bold;
  color: black;
}

/* Header Style */

/* Navbar Related Style */

.navbar {
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  list-style: none;
  margin-right: 30px;
}
.nav-link {
  text-decoration: none;
  font-weight: 500px;
}

.navbar,
.banner {
  max-width: 1440px;
  margin: 0 auto;
}

.brand {
  font-weight: bold;
  font-size: 3rem;
  color: #131313;
}

/* Banner related Style */

.banner-content {
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.banner-title {
  font-size: 4rem;
  font-weight: bold;
  color: #131313;
}

.banner-image {
  width: 100%;
}

/* Section - Team Styles */

.teams {
  margin-top: 85px;
  align-items: center;
}

.team-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.our-feature {
  margin-left: 130px;
  max-width: 530px;
}

.h3-span1 {
  font-size: 2.8rem;
  font-weight: 500px;
  color: #727272;
}

.h3-span2 {
  font-size: 2.8rem;
  font-weight: bold;
}

.h3-span3 {
  font-size: 2.8rem;
  font-weight: bold;
  color: #ff900e;
}

/* Experiences section related styles */

.section-line {
  width: 5px;
  height: 206px;
}

/* Facts Section    */

.facts-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 80px;
}

.fact-card {
  border: 1px solid #ff900e;
  border-radius: 8px;
  width: 241.83px;
  height: 241.83px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.fact-number {
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 10px;
}

.fact-name {
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 10px;
}

.fact-description {
  max-width: 540px;
}

/* Sponsor Section */

.sponsor-info {
  max-width: 540px;
  text-align: center;
  margin: 50px auto;
}

.sponsor-companies {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
}

.sponsor-companies img {
  filter: grayscale(100%);
}

/* Responsive Media Query */

@media screen and (max-width: 576px) {
  .navbar,
  .nav-links {
    flex-direction: column;
  }
  .teams {
    flex-direction: column-reverse;
  }

  .team-img-container {
    margin-top: 50px;
    grid-template-columns: repeat(1, 1fr);
    flex-direction: column;
  }

  .our-feature {
    margin-left: 50px;
  }

  .facts-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }

  .sponsor-companies {
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
    justify-items: center;
  }
}

/* Medium Size Devices */

@media screen and (min-width: 576px) and (max-width: 992px) {
  .teams {
    flex-direction: column;
  }
  .our-feature {
    margin-left: 50px auto;
  }

  .facts-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .sponsor-companies {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
  }
}
